/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */
body {
	font-family: Verdana, 'Times New Roman';
	font-size: 12px; 
}

#container {
	margin: 0 auto;
	width: 600px;
	border: 1px #CECABB solid;
	background-color: #51473D;
}

#topbar {
	color: #FFF;
	background-image: url('pics/coffey.jpg');
	background-repeat: no-repeat;
	background-position: center bottom;
	width: 600px;
	height: 220px;
	text-align: right;
	font-size: 10px;
	font-style: italic;
	color: #EAE7D2;
	padding: 6px 0 0 0;
}

#menu a[href^='#maincontent'] {
	display: none;
}

#menu ul {
	display: table;
	height: 30px;
	margin: 6px 0 0 0;
	padding: 0 0 0 12px;
}

#menu ul li {
	display: table-cell;
	background-color: #797067;
	padding: 0 20px 0 20px;
	border-right: 1px #51473D solid;
	vertical-align: middle;
}

#menu ul li:hover {
	background-color: #9C9084;
}

#menu a:link, #menu a:active, #menu a:hover, #menu a:focus, #menu a:visited {
	text-decoration: none;
	color: #EAE7D2;
	text-transform: capitalize;
}

#menu ul li.active {
	background-color: #EAE7D2
}

#menu ul li.active a:link, #menu ul li.active a:active, #menu ul li.active a:hover, #menu ul li.active a:focus, #menu ul li.active a:visited {
	text-decoration: none;
	color: #797067;
	text-transform: capitalize;
}

#content {
	background-color: #EAE7D2;
	color: #797067;
	padding: 20px 6px 12px 6px;
	display: table;
}

#content a:link, #content a:active, #content a:hover, #content a:focus, #content a:visited {
	color: #797067;
}

#content img {
	float: left;
	margin: 3px;
}

#maincontent {
	display: table-cell;
	line-height: 1.9em;
	padding: 5px;
	border-right: 1px #CECABB dashed;
	width: 60%;
}

#subcontent {
	display: table-cell;
	padding: 7px;
	width: 40%;
}

#subcontent p {
	font-size: 0.7em;
	line-height: 2.5em;
}

#bottomcontent {
	display: table-footer-group;
}

#maincontent h1 {
	font-family: 'Times new roman';
	color: #797067;
	margin-top: 0;
	font-weight: 200;
	font-size: 2.5em;
}

#subcontent h1 {
	font-family: 'Times new roman';
	color: #797067;
	margin-top: 0;
	font-weight: 200;
	font-size: 1.3em;
}

#subcontent h2 {
	font-family: 'Times new roman';
	color: #797067;
	margin: 3.5em 0 0 0;
	padding: 0;
	font-weight: 200;
	font-size: 1.3em;
}

#subcontent ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	line-height: 1.7em;
}

#bottomcontent {
	font-size: 0.8em;
	font-style: italic;
}

